.custom-form1 {
  max-width: 70%;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-error {
  border-color: #ff4d4d;
}

.error-message {
  color: #ff4d4d;
  font-size: 0.9em;
  margin-top: 5px;
}

.setbtnContext {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #5399d5;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #417bb3;
}
.set {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}
